<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>コンパネトップ</title></head>
<body>

<li><a href="/cgi-bin/app/app.cgi/cp_list/?guid=ON">TODOリスト</a></li>
</body>
</html>
