<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>仮登録完了！</title></head>
<body>
<h1>仮登録が完了しました。</h1>
<br>
登録したメールアドレス宛に確認メールを送信しました。
メールに記載されているURLにアクセスし本登録してください。
</body>
</html>
