<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>登録！</title></head>
<body>
<h1>ユーザ登録</h1>


<form action="/cgi-bin/app/app.cgi/reg?guid=ON" method="post">
  PCメールアドレス：<input type="text" name="mail_address" size="50">
  [% IF mail_err %]
    <font color="#FF0000" size="2">[% mail_err | html %]</font><br>
  [% END %]
  <br>
  携帯メールアドレス：<input type="text" name="mobile_address" size="50">
  [% IF mail_err %]
    <font color="#FF0000" size="2">[% mb_err | html %]</font><br>
  [% END %]
  <br>
  パスワード：<input type="password" name="p">
  [% IF pass_err %]
    <font color="#FF0000" size="2">[% pass_err | html %]</font><br>
  [% END %]
  [% IF error_msg %]
    <br>
    <font color="#FF0000" size="2">[% error_msg | html %]</font><br>
  [% END %]
    <br>
    <input type="submit" value="登録！">
  

</form>


</body>
</html>
